
body {
    padding-bottom: 5em;
}

.text-danger[data-toggle="tooltip"] {
    cursor: default;
}

.tooltip {
    white-space: normal !important;
}

.gwitemlink {
    cursor: pointer;
}

.dropdown-menu .account-link {
    padding-right: 7em;
}
.dropdown-menu .account-link small {
    position: absolute;
    right: 1em;
    color: #aaa;
    font-size: 100%;
}
.dropdown-menu .locked {
    color: #d9534f;
}
.menuicon  {
    margin-left: -.5em;
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
}
.menuicon[class*=" guild-icon-"] {
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: top;
}
.guild-icon {
    max-height: 1.5em;
    vertical-align: top;
    margin-right: .5em;
}

.nav.nav-tabs a {
    outline: 0 !important;
}

.panel .with-tabs {
    padding-bottom: 0;
}
.panel .with-tabs .nav-tabs > li {
    margin-bottom: -2px;
}
.panel .with-tabs .nav-tabs > li > a:hover {
    background: rgba(0,0,0,0.03);
}
.panel .with-tabs .nav-tabs > li.active > a:hover {
    background: #ffffff;
}

.character-name a,
.character-name a:hover {
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit !important;
}

/************************************************/

.ic-profession-warrior,      .ic-profession-berserker    { color: #FFD166; }
.ic-profession-mesmer,       .ic-profession-chronomancer { color: #B679D5; }
.ic-profession-elementalist, .ic-profession-tempest      { color: #F68A87; }
.ic-profession-revenant,     .ic-profession-herald       { color: #D16E5A; }
.ic-profession-necromancer,  .ic-profession-reaper       { color: #52A76F; }
.ic-profession-ranger,       .ic-profession-druid        { color: #8CDC82; }
.ic-profession-guardian,     .ic-profession-dragonhunter { color: #72C1D9; }
.ic-profession-engineer,     .ic-profession-scrapper     { color: #D09C59; }
.ic-profession-thief,        .ic-profession-daredevil    { color: #C08F95; }

.ic-crafting-armorsmith    { color: #768083; }
.ic-crafting-artificer     { color: #8e7f58; }
.ic-crafting-chef          { color: #389ae7; }
.ic-crafting-huntsman      { color: #6a7929; }
.ic-crafting-jeweler       { color: #7f53b1; }
.ic-crafting-leatherworker { color: #a86f36; }
.ic-crafting-scribe        { color: #5566b4; }
.ic-crafting-tailor        { color: #919496; }
.ic-crafting-weaponsmith   { color: #5e4734; }

.ic-ui-masteries.maguuma, .ic-ui-mastery.maguuma { color: #309339; }
.ic-ui-masteries.tyria,   .ic-ui-mastery.tyria   { color: #cc4d24; }

td [class^="ic-weapon-"],
th [class^="ic-weapon-"],
td [class*=" ic-weapon-"],
th [class*=" ic-weapon-"],
td [class^="ic-gathering-"],
th [class^="ic-gathering-"],
td [class*=" ic-gathering-"],
th [class*=" ic-gathering-"],
td [class^="ic-armor-"],
th [class^="ic-armor-"],
td [class*=" ic-armor-"],
th [class*=" ic-armor-"] {
    font-size: 2em;
}
td [class^="ic-"],
th [class^="ic-"],
th [class*=" ic-"],
td [class*=" ic-"] {
    display: inline-block;
    margin-top: -.3em;
}
td [class^="ic-attribute-"],
th [class^="ic-attribute-"],
td [class*=" ic-attribute-"],
th [class*=" ic-attribute-"] {
    font-size: 1.5em;
}

/************************************************/

.page-guild .tab-log td:first-child  {
    white-space: nowrap;
    width: 5em;
}
.page-guild .tab-log td:nth-child(2) img,
.page-guild .tab-log td:last-child img  {
    background: #2c3e50;
    width: 22px;
    height: 22px;
    vertical-align: top;
}
.page-guild .tab-log td:last-child img  {
    margin-left: .2em;
}
.page-guild .tab-log td:last-child span  {
    color: #808b96;
}
.page-guild .tab-log td:last-child div,
.page-guild .tab-log td:last-child blockquote  {
    color: #808b96;
    font-size: .8em;
    margin-bottom: 0;
}
.page-guild .tab-log td:nth-child(2)  {
    text-align: center;
}
.page-guild .tab-log td:last-child .amount,
.page-guild .tab-log td:last-child .amount *  {
    color: inherit;
}

.page-guild .upgrade-title  {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.page-guild .upgrade-title img  {
    width: 2em;
    height: 2em;
}
.page-guild .upgrade-title div:nth-child(1)  {
    padding-top: .3em;
}
.page-guild .upgrade-title div:nth-child(2)  {
    padding-left: .5em;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.page-guild .tab-upgrades {
    min-height: 500px;
}
.page-guild .tab-upgrades > .row > div {
    position: relative;
}
.page-guild .tab-upgrades .upgrade-title.menu:hover  {
    cursor: pointer;
    font-weight: bold;
}
.page-guild .tab-upgrades .upgrade-title.menu.active {
    cursor: pointer;
    font-weight: bold;
    background: #ecf0f1;
}
.page-guild .tab-upgrades .upgrade-title div:first-child {
    padding: 0;
    margin-bottom: 1px;
}
.page-guild .tab-upgrades .upgrade-detail {
    position: absolute;
    left: -16px;
    right: 15px;
    background: #ecf0f1;
    padding: 5px 15px 5px 15px;
}
.page-guild .tab-upgrades .upgrade-detail small {
    display: block;
}
.page-guild .tab-upgrades .upgrade-detail > div {
    margin-bottom: .5em;
}
.page-guild .tab-upgrades .upgrade-cost  {
    display: inline-block;
    vertical-align: top;
    width: 7em;
    margin-top: .3em;
    line-height: 2em;
}
.page-guild .tab-upgrades .upgrade-cost.done  {
    color: green;
}
.page-guild .tab-upgrades .upgrade-cost img  {
    width: 2em;
    height: 2em;
}
.page-guild .tab-upgrades .upgrade-cost > span  {
    display: inline-block;
    vertical-align: top;
}
.page-guild .tab-upgrades .upgrade-cost > span:first-child  {
    margin-right: .5em;
}

.page-guild td.rank  {
    width: 40px;
    padding: 0 0 1px 0 !important;
}
.page-guild td.rank span  {
    display: inline-block;
    padding: 0;
    background: #2c3e50;
}
.page-guild td.rank span img  {
    width: 32px;
    height: 32px;
}
.page-guild .tab-ranks .permissions  {
    font-size: .8em; 
    width: 31%;
}
.page-guild .tab-ranks .permissions .glyphicon {
    margin-right: .3em;
    vertical-align: middle;
}
.page-guild .tab-ranks .permissions .locked {
    opacity: .5;
}

.page-guild .treasury td:first-child  {
    width: 4em;
    text-align: center;
}
.page-guild .treasury td:first-child img  {
    width: 100%;
}
.page-guild .treasury ul  {
    font-size: .8em;
}
.page-guild .pct {
    height: 8px;
    background: #aaa;
    margin-bottom: .5em;
}
.page-guild .pct div  {
    height: 8px;
}
.page-guild .tab-teams .label {
    font-size: inherit;
}

/************************************************/

.stash {
    margin-right: 1em;
}
.stash:after {
    content: "";
    display: block;
    background: #ecf0f1;
    height: 1px;
    width: 80%;
    margin: .5em auto 2em auto;
}
.stash:last-child:after {
    display: none;
}
.stash .stash-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .5em;
}

.stash .stash-header > div {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.stash .stash-header > div:nth-child(1) img {
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

.stash .stash-header > div:nth-child(2) {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.stash .stash-coins {
    text-align: right;
    line-height: 2em;
    margin-top: .5em;
    overflow: hidden;
}



/************************************************/

.page-masteries .regions {
    float: left;
    width: 300px;
}
.page-masteries .regions .region div {
    padding: .5em;
    border-top: 1px solid #ecf0f1;
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
    cursor: default;
}
.page-masteries .regions .region div:hover {
    background: #ecf0f1 !important;
}
.page-masteries .regions .region:last-child div:last-child {
    border-bottom: 1px solid #ecf0f1;
}
.page-masteries .regions .region div.region-name {
    font-weight: bold;
}
.page-masteries .regions .region div.mastery-name {
    padding-left: 1.5em;
    cursor: pointer;
}
.page-masteries .regions .region div.mastery-name.unlocked {
    box-shadow: -8px 0 0 -5px #18bc9c inset;
    background: rgba(24, 188, 156, 0.05);
}

.page-masteries .mastery{
    margin-left: 315px;
    color: white;
    text-shadow: 0 0 3px black;
    padding: 5px 8px 5px 10px;
    background-repeat: no-repeat;
    background-color: #999;
    background-size: 100% auto;
}
.page-masteries .mastery .header{
    height: 100px;
    padding-top: 15px;
}
.page-masteries .mastery .header .spent{
    float: right;
    line-height: 60px;
    padding-right: 2em;
}
.page-masteries .mastery .header .spent b{
    font-size: 1.5em;
    margin-left: 1em;
}
.page-masteries .mastery .region-name{
    color: #ccc;
}
.page-masteries .mastery .mastery-name{
    font-size: 1.5em;
}
.page-masteries .mastery .level.unlocked {
    background-image: url(/assets/images/mastery-bg.png);
}
.page-masteries .mastery .level.locked {
    opacity: .5;
}
.page-masteries .mastery .level{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.page-masteries .mastery .level > div{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
}
.page-masteries .mastery .level > div.level-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .4em 0;
}
.page-masteries .mastery .level > div.point-cost{
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
}
.page-masteries .mastery .level > div.point-cost div{
    width: 8em;
    padding: .5em .5em .5em 1em;
}
.page-masteries .mastery .level .level-icon img{
    width: 3em;
    height: 3em;
    margin: .6em 1em .6em .4em;
}
.page-masteries .mastery .level .level-instruction {
    font-size: .8em;
    color: #999;
}


/************************************************/

.gold, .silver, .copper {
    padding-right: 18px;
    margin: 0 .2em;
    display: inline-block;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 1em;
}
.gold {
    color: #c9a900;
    background-image: url(../images/coin/gold.png);
}
.silver {
    color: #888;
    background-image: url(../images/coin/silver.png);
}
.copper {
    color: #b1672d;
    background-image: url(../images/coin/copper.png);
}

/************************************************/

img.emblem {
    width: 3em;
    height: 3em;
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle;
}
img.currency {
    height: 2em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
}

/************************************************/


.page-achievements .ap-group-header,
.page-achievements .ap-category {
    border-right: 1px solid #ecf0f1;
    border-left: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
    height: 3em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}
.page-achievements .ap-achievement {
    border-right: 1px solid #ecf0f1;
    border-left: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
}
.page-achievements .ap-achievement .ic-ui-arenanet {
    color: #bd8d0d;
}
.page-achievements .ap-group:last-child,
.page-achievements .ap-achievement:last-child {
    border-bottom: 1px solid #ecf0f1;
}
.page-achievements .ap-achievement td.flex:first-child img {
    max-height: 3em;
}
.page-achievements .ap-achievement .requirement,
.page-achievements .ap-achievement .description {
    margin-top: 0.3em;
    font-size: .8em;
}
.page-achievements .ap-achievement .description {
    color: #889;
}
.page-achievements .ap-achievement .rewards > div,
.page-achievements .ap-achievement .rewards > span {
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
}
.page-achievements .ap-achievement .rewards img {
    max-height: 2em;
}
.page-achievements .ap-achievement td.flex:nth-child(3) {
    margin: 0 .5em;
    min-width: 10em;
}
.page-achievements .ap-achievement td.flex:last-child {
    min-width: 5em;
}
.page-achievements .ap-achievement .ic-ui-masteries,
.page-achievements .ap-achievement .ic-ui-mastery {
    font-size: 2em;
    cursor: default;
}
.page-achievements .ap-achievement td.flex:last-child .glyphicon-refresh {
    font-size: .9em; 
    display: inline-block; 
    text-align: center; 
    min-width: 1.4em;
}
.page-achievements .ap-achievement .bits {
    width: 22em;
}
.page-achievements .ap-achievement .bits .text,
.page-achievements .ap-achievement .bits img {
    max-height: 2em;
    margin: 1px;
    opacity: 0.3;
}
.page-achievements .ap-achievement .bits img.ok,
.page-achievements .ap-achievement .bits .text.ok,
.page-achievements .ap-achievement.completed .bits .text,
.page-achievements .ap-achievement.completed .bits img {
    opacity: 1;
}
.page-achievements .ap-achievement .detail > div {
    font-size: .8em; 
    padding-top: .5em;
}
.page-achievements .ap-achievement .detail > div > div {
    margin-left: 1em;
}
.page-achievements .ap-achievement .detail .levels td {
    padding: 0 .8em; 
    border-left: 1px solid #ecf0f1;
}
.page-achievements .ap-achievement .detail .levels td:first-child {
    padding-left: 0; 
    border-left: 0;
}
.page-achievements .ap-achievement .detail .levels .glyphicon-ok {
    color: #18bc9c;
}
.page-achievements .see-detail {
    font-size: .8em;
    text-decoration: none;
}
.page-achievements .see-detail i {
    margin-right: .5em;
}

.page-achievements div.flex {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}
.page-achievements div.flex:nth-child(2) {
    flex: 1 1 auto;
    margin: .2em 0;
}
.page-achievements td.flex:nth-child(2) {
    padding: .2em 0;
}
.page-achievements td.flex:first-child,
.page-achievements td.flex:last-child {
    white-space: nowrap;
    padding: 0 .5em;
    text-align: right;
}
.page-achievements div.flex:first-child,
.page-achievements div.flex:last-child {
    white-space: nowrap;
    margin: 0 .5em;
    text-align: right;
}


.page-achievements .ap-category div.flex:first-child {
    padding-left: 1.5em;
}

.page-achievements .ap-group-header:hover,
.page-achievements .ap-category:hover,
.page-achievements .ap-achievement:hover,
.page-achievements .ap-category.current {
    background: #ecf0f1;
}
.page-achievements .ap-category img {
    max-height: 2em;
}

.page-achievements .closed .ap-category {
    display: none;
}
.page-achievements .completed td.flex:last-child,
.page-achievements .completed div.flex:last-child {
    color: #18bc9c;
}
.page-achievements .completed {
    box-shadow: -8px 0 0 -5px #18bc9c inset;
    background: rgba(24, 188, 156, 0.05);
}
.page-achievements .ap-group-header i.glyphicon-chevron-down {
    display: none;
}
.page-achievements .ap-group-header i.glyphicon-chevron-up {
    display: inline-block;
}
.page-achievements .closed .ap-group-header i.glyphicon-chevron-down {
    display: inline-block;
}
.page-achievements .closed .ap-group-header i.glyphicon-chevron-up {
    display: none;
}

/************************************************/


.page-account td .label {
    margin-right: .5em;
}
.page-account td table.rights {
    width: 100%;
    table-layout: fixed;
}
.page-account td table.rights th {
    text-decoration: underline;
    padding-bottom: .5em;
}
.page-account td table.rights td {
    vertical-align: top;
}
.page-account td .form-group {
    margin-bottom: .5em;
}
.page-account td .checkbox {
    margin: 0;
    padding-right: 1em;
}
.page-account td:nth-child(3),
.page-account td .btn {
    width: 18em;
    margin-top: .3em;
    text-align: left;
}
.page-account td .btn:first-child {
    margin-top: 0;
}
.page-account td .btn i {
    margin-right: .5em;
}
.page-account td.text-owner {
    width: 15%;
}
.page-account hr {
    margin-top: .5em;
    margin-bottom: .5em;
}
.page-account .worlds {
    margin-right: 1em;
}
.page-account .world:after {
    content: ', ';
}
.page-account .world:last-child:after {
    content: '';
}

/************************************************/

.page-attributes tr td {
    width: 10%;
    white-space: nowrap;
}
.page-attributes tr td:first-child {
    width: auto;
}

/************************************************/

.page-home .faq {
    margin-top: 2em;
}
.page-home .faq:before {
    content: "";
    display: block;
    height: 4px;
    background: white;
    border-radius: 3px;
    margin-bottom: 2em;
}

/************************************************/

.page-character tr.object td:first-child {
    width: 3.5em;
}
.page-character tr.object td:nth-child(2) {
    width: 10em;
}
.page-character .summary tr td:first-child {
    width: 30%;
}
.page-character .stats table {
    width: 100%;
}
.page-character .stats .attrico {
    text-align: center;
    width: 10%;
}
.page-character .stats .attr {
    width: 40%;
    padding-left: .5em;
}
.page-character .stats .panel-body:last-child {
    border-top: 1px solid #ecf0f1;
}
.page-character .stats .inventory-slot {
    display: inline-block;
    vertical-align: top;
    margin-right: .1em;
}
.page-character table.equipment {
    width: 100%;
}
.page-character table.equipment td {
    vertical-align: top;
    position: relative;
    width: 33.33% !important;
}
.page-character .equipment a {
    outline: 0;
}
.page-character .crafting span {
    white-space: nowrap;
}
.page-character .equipment-type {
    display: block;
    color: #999;
}
.page-character .slots .bag {
    background: #2c1b0b;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
}
.page-character .swap {
    margin-bottom: .3em;
    padding-left: 3em;
}
.page-character .swap i {
    opacity: 0.35;
}
.page-character .build1 {
    float: left; 
    width: 400px
}
.page-character .build1 img {
    width: 5em;
    height: 5em;
    margin: .5em 0;
}
.page-character .build1 .pet-icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 0;
    width: 5em;
    height: 5em;
    overflow: hidden;
    position: relative;
}
.pet-icon-wrapper img {
    position: absolute;
    margin: 0 !important;
    width: 150% !important;
    height: 150% !important;
    left: -25%;
    top: -25%;
}
.page-character .build1 > div {
    margin: 1em 0;
}
.page-character .build1 > div:nth-child(2) {
    margin-top: 6px;
}
.page-character .build1 .ic-ui-swap {
    font-size: 2em;
    opacity: .5;
}
.page-character .build1 span:first-child img {
    margin-left: 0;
}
.page-character .build2 {
    margin-left: 430px;
}
.page-character table.training td:first-child {
    width: 25%;
    padding-left: 3em;
}
.page-character table.training td:nth-child(2) {
    width: 6em;
    text-align: center;
}
.page-character table.training .track {
    line-height: 2.5em;
}
.page-character table.training .track-items > span {
    display: inline-block;
    margin-right: .5em;
    position: relative;
}
.page-character table.training .track-items > span span {
    display: block;
    font-size: .8em;
    text-align: center;
    color: rgba(0, 0, 0, .5);
}
.page-character table.training .track-items > span.not-done:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    background: rgba(170, 0, 0, .5);
}
.page-character table.training .track-items > span.not-done img {
    opacity: .5;
}
.page-character table.training .track-items > span.not-done span {
    color: red;
    opacity: .5;
}
.page-character table.training .track-items img {
    width: 2em;
    height: 2em;
}
.gw2skillslink i {
    margin-right: .5em;
}

/************************************************/

.wvw_ability div {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
}
.wvw_ability div:hover {
    font-weight: bold;
}
.page-character .wvw_ability img {
    width: 2em;
    height: 2em;
    margin: 0;
}
.wvw_ability div span {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.wvw_ability div span.name {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: .5em;
}
.wvw_ability ul{
    font-size: .8em;
}
.wvw_ability ul .cost{
    margin-right: .5em;
}
.wvw_ability ul .not-spent{
    opacity: .7;
    text-decoration: line-through;
}

/************************************************/

.page-pvp .season {
    background: #2c3e50;
    color: white;
}
.page-pvp .season .image {
    float: left;
    width: 20%;
}
.page-pvp .season .division {
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.page-pvp .season .division .title {
    padding: 1.5em 0;
}
.page-pvp .season .image img{
    width: 90%;
}
.page-pvp .season .tier {
    display: inline-block;
    vertical-align: top;
    margin: .5em;
}
.page-pvp .season .division .tier .ic-ui-pip {
    font-size: 2.7em;
}
.page-pvp .season .division .tier div i {
    font-size: 1.2em;
}
.page-pvp .season .division-1 .tier .ic-ui-pip { color: #eda826; }
.page-pvp .season .division-2 .tier .ic-ui-pip { color: #47a350; }
.page-pvp .season .division-3 .tier .ic-ui-pip { color: #2d6a99; }
.page-pvp .season .division-4 .tier .ic-ui-pip { color: #b72536; }
.page-pvp .season .division-5 .tier .ic-ui-pip { color: #d7dcdc; }
.page-pvp .season .division-6 .tier .ic-ui-pip { color: #232521; }
.page-pvp .season .division .tier .ic-ui-pip.disabled { color: #888 !important; opacity: .4; }
.page-pvp .season .division .tier i:before {
    width: auto !important;
    margin: 0 .05em !important;
}

/************************************************/

.page-equipments .equipments table {
    table-layout: fixed;
}
.page-equipments .equipments th {
    padding-left: 1.1em !important;
}
.page-equipments .equipments .inventory-slot {
    font-size: 1.6em;
    margin: 2px 0;
}
.page-equipments .equipments td {
    border-bottom: 1px solid #ecf0f1 !important;
}
.page-equipments .equipments th,
.page-equipments .equipments td {
    width: 13%;
}
.page-equipments .equipments th:first-child,
.page-equipments .equipments td:first-child {
    width: auto;
}
.page-equipments .equipments .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
}

/************************************************/

.text-owner:before {
    content: "\2605";
    color: red;
    margin-right: .5em;
    display: inline-block;
    vertical-align: top;
}
#owner-legend {
    display: none;
    width: 60em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#owner-legend em {
    color: red;
}

/************************************************/

.slots .slot {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    position: relative;
    border: 1px solid #2c1b0b;
    background: #55452f;
    box-shadow: 0 0 0 1px #5c4f3f inset, 0 0 15px #3a2d1d inset;
    padding: 1px;
}
.slots .slot img {
    width: 100%;
    height: 100%;
}
.slots .slot .count {
    position: absolute;
    color: white;
    right: 5px;
    bottom: 0px;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}
.slots .slot.empty img {
    opacity: .2;
}
.slots .slot.empty img.nothing {
    opacity: 1;
}
.slots .slot.empty .count {
    display: none;
}

/************************************************/

.inventory-slot {
    font-size: 3em;
    padding: 0;
    height: 1.1em;
}
.inventory-slot span {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.inventory-slot > div {
    display: inline-block;
    vertical-align: top;
    height: 1em;
}
.inventory-slot .stat {
    position: relative;
}
.inventory-slot .stat img {
    height: .8em;
    width: .8em;
    vertical-align: top;
}
.inventory-slot .item img {
    height: 1em;
    width: 1em;
    vertical-align: top;
    margin: 0 .2em;
    border-left-width: 5px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    padding-left: 1px;
    box-sizing: content-box;
}
.inventory-slot .addons .upgrades {
    height: .45em;
}
.inventory-slot .addons .infusions {
    height: .45em;
    margin-top: .1em;
}
.inventory-slot .addons img {
    height: 100%;
    vertical-align: top;
    margin-right: .1em;
}

/************************************************/

.rarity-Junk       { color: #aaaaaa; }
.rarity-Basic      { color: #000000; }
.rarity-Fine       { color: #1a9306; }
.rarity-Masterwork { color: #62A4DA; }
.rarity-Rare       { color: #fcd00b; }
.rarity-Exotic     { color: #ffa405; }
.rarity-Ascended   { color: #fb3e8d; }
.rarity-Legendary  { color: #4C139D; }

.background.rarity-Junk       { background-color: #aaaaaa; }
.background.rarity-Basic      { background-color: #000000; }
.background.rarity-Fine       { background-color: #1a9306; }
.background.rarity-Masterwork { background-color: #62A4DA; }
.background.rarity-Rare       { background-color: #fcd00b; }
.background.rarity-Exotic     { background-color: #ffa405; }
.background.rarity-Ascended   { background-color: #fb3e8d; }
.background.rarity-Legendary  { background-color: #4C139D; }

.border.rarity-None       { border: 1px solid transparent; }
.border.rarity-Junk       { border: 1px solid #aaaaaa; }
.border.rarity-Basic      { border: 1px solid #000000; }
.border.rarity-Fine       { border: 1px solid #1a9306; }
.border.rarity-Masterwork { border: 1px solid #62A4DA; }
.border.rarity-Rare       { border: 1px solid #fcd00b; }
.border.rarity-Exotic     { border: 1px solid #ffa405; }
.border.rarity-Ascended   { border: 1px solid #fb3e8d; }
.border.rarity-Legendary  { border: 1px solid #4C139D; }

img.rarity-None       { border: 1px solid transparent; }
img.rarity-Junk       { border: 1px solid #aaaaaa; }
img.rarity-Basic      { border: 1px solid #000000; }
img.rarity-Fine       { border: 1px solid #1a9306; }
img.rarity-Masterwork { border: 1px solid #62A4DA; }
img.rarity-Rare       { border: 1px solid #fcd00b; }
img.rarity-Exotic     { border: 1px solid #ffa405; }
img.rarity-Ascended   { border: 1px solid #fb3e8d; }
img.rarity-Legendary  { border: 1px solid #4C139D; }

.slots .slot.rarity-Junk       { box-shadow: 0 0 0 1px #aaaaaa inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Basic      { box-shadow: 0 0 0 1px #ffffff inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Fine       { box-shadow: 0 0 0 1px #1a9306 inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Masterwork { box-shadow: 0 0 0 1px #62A4DA inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Rare       { box-shadow: 0 0 0 1px #fcd00b inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Exotic     { box-shadow: 0 0 0 1px #ffa405 inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Ascended   { box-shadow: 0 0 0 1px #fb3e8d inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Legendary  { box-shadow: 0 0 0 1px #7744bb inset, 0 0 15px #3a2d1d inset; }

.gwitem .rarity-Basic      { color: #ffffff; }
.gwitem .rarity-Legendary  { color: #7744bb; }

/************************************************/

.page-bank .bank.slots {
    margin: 1em 0;
}

/************************************************/

.page-wallet .column-name {
    line-height: 2em;
    text-align: right;
}
.page-wallet .column-icon {
    text-align: center;
    width: 4em;
}
.page-wallet .column-quantity {
    line-height: 2em;
    min-width: 8em;
    white-space: nowrap;
}

/************************************************/

#footer {
    border-top: 1px solid #ddd;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top : 2em;
    font-size: 80%;
}
#footer ul{
    padding-left: 0;
}
#footer ul li {
    margin-bottom: 1em;
    list-style-type: none;
}
#footer ul li i,
#footer ul li img {
    margin-right: .3em;
    font-size: 2em;
    height: 1em;
    vertical-align: middle;
    color:#333333;
}
#footer .logo {
    text-align: center;
}
#footer .logo a {
    margin: .5em 2.5em;
}
#footer .logo a:first-child {
    margin-left: 0;
}
#footer .logo a:last-child {
    margin-right: 0;
}

/************************************************/

#container {
    min-height : 600px;
}

/************************************************/

.page-dyes table {
    table-layout: fixed;
}
.page-dyes table td img {
    height: 2em;
    width: 2em;
}
.page-dyes table td .icon {
    height: 2em;
    width: 2em;
    display: inline-block;
    margin-right: .5em;
}
.page-dyes table td span {
    line-height: 2em;
}
.page-dyes table tr th:last-child,
.page-dyes table tr td:last-child {
    width: 6em;
}
.page-dyes .dye {
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.4);
}
.page-dyes .unlocked i {
    color: #ddd;
}
.page-dyes .locked,
.page-dyes .locked td:first-child span {
    color: #a00 !important;
}
.page-dyes .locked .icon {
    background: rgba(170, 0, 0, .5);
}
.page-dyes .locked img {
    opacity: .5;
}
.page-dyes td .glyphicon {
    margin-right: .5em;
}

/************************************************/

.page-minis table {
    table-layout: fixed;
}
.page-minis table td img {
    height: 2em;
    width: 2em;
}
.page-minis table td .icon {
    height: 2em;
    width: 2em;
    display: inline-block;
    margin-right: .5em;
}
.page-minis table td span {
    line-height: 2em;
}
.page-minis .unlocked i {
    color: #ddd;
}
.page-minis .locked,
.page-minis .locked td:first-child span {
    color: #a00 !important;
}
.page-minis .locked .icon {
    background: rgba(170, 0, 0, .5);
}
.page-minis .locked img {
    opacity: .5;
}
.page-minis td .glyphicon {
    margin-right: .5em;
}

/************************************************/

.page-titles table td  {
    line-height: 2em !important;
}
.page-titles td.icon {
    width: 2em;
}
.page-titles td.icon img {
    height: 2em;
}
.page-titles td.category {
    width: 30%;
}
.page-titles td.flags {
    width: 15%;
}
.page-titles td.flags span {
    margin-right: .5em;
}
.page-titles td.flags span:after {
    content: ',';
}
.page-titles td.flags span:last-child:after {
    content: '';
}
.page-titles .unlocked i {
    color: #ddd;
}
.page-titles .locked td.category,
.page-titles .locked td.icon {
    opacity: .3;
}
.page-titles .locked td.title {
    color: #a00 !important;
}
.page-titles td.title .glyphicon {
    margin-right: .5em;
}

/************************************************/

.page-finishers table td  {
    line-height: 2em !important;
}
.page-finishers td.icon {
    width: 2em;
}
.page-finishers td.icon img {
    height: 2em;
}
.page-finishers .unlocked i {
    color: #ddd;
}
.page-finishers .locked td.category,
.page-finishers .locked td.icon {
    opacity: .3;
}
.page-finishers .locked td.finisher {
    color: #a00 !important;
}
.page-finishers td.finisher .glyphicon {
    margin-right: .5em;
}

/************************************************/

.page-trading-post td span {
    line-height: 3em;
}
.page-trading-post td img {
    height: 3em;
}
.page-trading-post .column-amount {
    text-align: right;
    width: 20%;
}
.page-trading-post .column-icom {
    width: 3em;
    height: 3em;
}
.page-trading-post .column-date,
.page-trading-post .column-quantity {
    text-align: right;
    width: 10%;
}

/************************************************/

.page-golds img {
    margin-right: .5em;
}

.page-golds .column-amount {
    text-align: right;
    width: 30%;
}

/************************************************/

.page-builds td:first-child {
    width: 20%;
}

/************************************************/


.page-guild .tab-teams .rank,
.page-guild .tab-teams .rank,
.page-pvp .rank {
    overflow: visible;
    margin-bottom: 1em;
}
.page-guild .tab-teams .rank img,
.page-pvp .rank img {
    height: 100px;
    margin-right: 1em;
}
.page-guild .tab-teams .rank div span,
.page-pvp .rank div span {
    display: block;
    text-align: center;
    font-size: 150%;
}
.page-guild .tab-teams .rank .level,
.page-pvp .rank .level {
    font-size: 300%;
    font-weight: bold;
}
.page-guild .tab-teams td.column-profession,
.page-pvp td.column-profession {
    width: 10em;
    text-align: right;
}
.page-guild .tab-teams td.column-profession img,
.page-pvp td.column-profession img {
    margin-left: .5em;
}
.page-guild .tab-teams td.column-winrate,
.page-pvp td.column-winrate {
    width: 20%;
    text-align: right;
}
.page-guild .tab-teams td.column-scorebar,
.page-pvp td.column-scorebar {
    width: 20%;
}
.page-guild .tab-teams .global td:first-child,
.page-pvp .global td:first-child {
    width: 65%;
}
.page-guild .tab-teams .red,
.page-pvp .red {
    color: #d9534f;
}
.page-guild .tab-teams .blue,
.page-pvp .blue {
    color: #32a7c9;
}
.page-guild .tab-teams .glyphicon-ok,
.page-pvp .glyphicon-ok {
    color: #5cb85c;
    margin-right: .5em;
}
.page-guild .tab-teams .glyphicon-remove,
.page-pvp .glyphicon-remove {
    color: #d9534f;
    margin-right: .5em;
}

/************************************************/

.progress {
    margin-bottom: 0;
    height: 21px;
}
.progress-bar {
    text-align: left;
}
.progress {
    position: relative;
}
.progress-bar {
    overflow: hidden;
    position: relative;
}
.progress span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    padding-left: 1em;
    margin: 0;
    line-height: 21px;
}
.progress-bar span {
    color: white !important;
}
.progress-scores {
    background: #d9534f;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
.progress-scores span {
    color: #5bc0de;
}
.progress-warning span {
    color: #f0ad4e;
}
.progress-success span {
    color: #5cb85c;
}

/************************************************/

.page-builds .build .skill,
.page-builds .build .spe,
.page-builds .build .trait {
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    margin: 3px 1px;
}
.page-builds .build img {
    width: 100%;
    height: 100%;
}
.page-builds .gw2skillslink {
    display: inline-block;
    margin-top: .8em;
}