{% extends "base.twig" %}

{% block content %}

    <div class="panel panel-default page-{{ page }}">
        <div class="panel-heading">Wallet</div>
        <div class="panel-body" data-content="ajax" data-src="./content.html">
            <div class="spinner-loader"></div> <em>Please wait while the server is working ...</em>
        </div>
    </div>

{% endblock %}