{% extends "AppBundle::base.html.twig" %}

{% block content %}
    <div id="access-token-form" class="page-home">
        {% if lang == 'fr' %}

            <h3>Bienvenue !</h3>
            <p>Collez votre "clé d'application" ci-dessous pour parcourir votre compte Guildwars 2 :</p>
            {% if token_error is defined %}
                {% include 'error-token.twig' %}
            {% endif %}
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="access_token"
                               placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary">
                        Continuer
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    Votre clé doit avoir à minima les access <code>account</code> et <code>characters</code>.
                </div>
            </div>
            <div class="faq">
                <h4>FAQ</h4>
                <ul>
                    <li>
                        <em>Comment créer une clé d'application :</em> connectez-vous à
                        <a href="https://account.arena.net/applications" target="_blank">
                            votre compte Guildwars 2
                        </a> et allez dans l'onglet "application".
                    </li>
                    <li>
                        <em>Qu'est-ce donc qu'une clé d'application :</em> Les clés d'application permettent à des
                        outils et applications tiers d'accéder à votre compte Guild Wars 2 en lecture seule. Pour les
                        utiliser, créez une clé, copiez-la puis collez-la dans le champ affiché par l'outil ou
                        l'application tiers. Chaque clé contient un ensemble de permissions qui limitent le contenu
                        accessible par les outils tiers. Vous pouvez supprimer une clé à tout moment pour retirer ces
                        permissions.
                    </li>
                </ul>
            </div>

        {% else %}

            <h3>Welcome !</h3>
            <p>Paste your "api key" below to browse your Guildwars 2 account:</p>
            {% if token_error is defined %}
                {% include 'error-token.twig' %}
            {% endif %}
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="access_token"
                               placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary">
                        Continue
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    You key should have at least these access <code>account</code> and <code>characters</code>.
                </div>
            </div>
            <div class="faq">
                <h4>FAQ</h4>
                <ul>
                    <li>
                        <em>How to create an api key :</em> log in the
                        <a href="https://account.arena.net/applications" target="_blank">Guildwars 2 account site</a>
                        and go on the "application" tab.
                    </li>
                    <li>
                        <em>What is an api key :</em> API keys are a way to grant third-party tools and applications
                        partial read-only access to your Guild Wars 2 account. To use them, create a key, then copy and
                        paste it into the field provided by the third-party tool or application. Each key is granted a
                        fixed set of permissions that limit what third-party tools can access, and you can delete a key
                        at any time to revoke the permissions granted.
                    </li>
                </ul>
            </div>

        {% endif %}
    </div>
{% endblock %}
