{% extends "base-menu.twig" %}

{% block content %}

	<div class="page-character" data-content="ajax" data-src="./{{ char.name }}.html">
		<div class="row">
			<div class="col-sm-8 summary">
				<div class="panel panel-default">
					<div class="panel-heading"><b>{{ char.name }}</b></div>
					<div class="panel-body">
						<div class="spinner-loader"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{#
{% block menu_right %}
	{{ parent () }}

	<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		<ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
#}