{% extends "base.twig" %}

{% block content %}

	<div class="page-character" data-content="ajax" data-src="./{{ character_name }}.html">
		<div class="row">
			<div class="col-xs-8 summary">
				<div class="panel panel-default">
					<div class="panel-heading"><b>{{ character_name }}</b></div>
					<div class="panel-body">
						<div class="spinner-loader"></div> <em>Please wait while the server is working ...</em>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
