@font-face {
  font-family: 'gw2tool';
  src: url('../font/gw2tool.eot?7752458');
  src: url('../font/gw2tool.eot?7752458#iefix') format('embedded-opentype'),
       url('../font/gw2tool.woff2?7752458') format('woff2'),
       url('../font/gw2tool.woff?7752458') format('woff'),
       url('../font/gw2tool.ttf?7752458') format('truetype'),
       url('../font/gw2tool.svg?7752458#gw2tool') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gw2tool';
    src: url('../font/gw2tool.svg?7752458#gw2tool') format('svg');
  }
}
*/
 
 [class^="ic-"]:before, [class*=" ic-"]:before {
  font-family: "gw2tool";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ic-armor-accessory:before { content: '\e800'; } /* '' */
.ic-armor-amulet:before { content: '\e801'; } /* '' */
.ic-armor-backpack:before { content: '\e802'; } /* '' */
.ic-armor-boots:before { content: '\e803'; } /* '' */
.ic-armor-coat:before { content: '\e804'; } /* '' */
.ic-armor-gloves:before { content: '\e805'; } /* '' */
.ic-armor-helm:before { content: '\e806'; } /* '' */
.ic-armor-helmaquatic:before { content: '\e807'; } /* '' */
.ic-armor-leggings:before { content: '\e808'; } /* '' */
.ic-armor-ring:before { content: '\e809'; } /* '' */
.ic-armor-shoulders:before { content: '\e80a'; } /* '' */
.ic-attribute-agonyresistance:before { content: '\e80b'; } /* '' */
.ic-attribute-armor:before { content: '\e80c'; } /* '' */
.ic-attribute-boonduration:before { content: '\e80d'; } /* '' */
.ic-attribute-boondurationpct:before { content: '\e80e'; } /* '' */
.ic-attribute-conditiondamage:before { content: '\e80f'; } /* '' */
.ic-attribute-conditionduration:before { content: '\e810'; } /* '' */
.ic-attribute-conditiondurationpct:before { content: '\e811'; } /* '' */
.ic-attribute-critdamage:before { content: '\e812'; } /* '' */
.ic-attribute-critdamagepct:before { content: '\e813'; } /* '' */
.ic-attribute-healing:before { content: '\e814'; } /* '' */
.ic-attribute-health:before { content: '\e815'; } /* '' */
.ic-attribute-magicfind:before { content: '\e816'; } /* '' */
.ic-attribute-power:before { content: '\e817'; } /* '' */
.ic-attribute-precision:before { content: '\e818'; } /* '' */
.ic-attribute-precisionpct:before { content: '\e819'; } /* '' */
.ic-attribute-toughness:before { content: '\e81a'; } /* '' */
.ic-attribute-vitality:before { content: '\e81b'; } /* '' */
.ic-crafting-armorsmith:before { content: '\e81c'; } /* '' */
.ic-crafting-artificer:before { content: '\e81d'; } /* '' */
.ic-crafting-chef:before { content: '\e81e'; } /* '' */
.ic-crafting-huntsman:before { content: '\e81f'; } /* '' */
.ic-crafting-jeweler:before { content: '\e820'; } /* '' */
.ic-crafting-leatherworker:before { content: '\e821'; } /* '' */
.ic-crafting-scribe:before { content: '\e822'; } /* '' */
.ic-crafting-tailor:before { content: '\e823'; } /* '' */
.ic-crafting-weaponsmith:before { content: '\e824'; } /* '' */
.ic-mode-pve:before { content: '\e825'; } /* '' */
.ic-mode-pvp:before { content: '\e826'; } /* '' */
.ic-mode-wvw:before { content: '\e827'; } /* '' */
.ic-profession-berserker:before { content: '\e828'; } /* '' */
.ic-profession-chronomancer:before { content: '\e829'; } /* '' */
.ic-profession-daredevil:before { content: '\e82a'; } /* '' */
.ic-profession-dragonhunter:before { content: '\e82b'; } /* '' */
.ic-profession-druid:before { content: '\e82c'; } /* '' */
.ic-profession-elementalist:before { content: '\e82d'; } /* '' */
.ic-profession-engineer:before { content: '\e82e'; } /* '' */
.ic-profession-guardian:before { content: '\e82f'; } /* '' */
.ic-profession-herald:before { content: '\e830'; } /* '' */
.ic-profession-mesmer:before { content: '\e831'; } /* '' */
.ic-profession-necromancer:before { content: '\e832'; } /* '' */
.ic-profession-ranger:before { content: '\e833'; } /* '' */
.ic-profession-reaper:before { content: '\e834'; } /* '' */
.ic-profession-revenant:before { content: '\e835'; } /* '' */
.ic-profession-scrapper:before { content: '\e836'; } /* '' */
.ic-profession-tempest:before { content: '\e837'; } /* '' */
.ic-profession-thief:before { content: '\e838'; } /* '' */
.ic-profession-warrior:before { content: '\e839'; } /* '' */
.ic-ui-archetype:before { content: '\e83a'; } /* '' */
.ic-ui-arenanet:before { content: '\e83b'; } /* '' */
.ic-ui-arrow-bottom:before { content: '\e83c'; } /* '' */
.ic-ui-arrow-left:before { content: '\e83d'; } /* '' */
.ic-ui-arrow-right:before { content: '\e83e'; } /* '' */
.ic-ui-arrow-top:before { content: '\e83f'; } /* '' */
.ic-ui-bag:before { content: '\e840'; } /* '' */
.ic-ui-bank:before { content: '\e841'; } /* '' */
.ic-ui-blc-balance:before { content: '\e842'; } /* '' */
.ic-ui-blc-gem:before { content: '\e843'; } /* '' */
.ic-ui-blc-lion:before { content: '\e844'; } /* '' */
.ic-ui-blc-lion-o:before { content: '\e845'; } /* '' */
.ic-ui-blc-lion-small:before { content: '\e846'; } /* '' */
.ic-ui-blc-trade:before { content: '\e847'; } /* '' */
.ic-ui-chevron-bottom:before { content: '\e848'; } /* '' */
.ic-ui-chevron-left:before { content: '\e849'; } /* '' */
.ic-ui-chevron-right:before { content: '\e84a'; } /* '' */
.ic-ui-chevron-top:before { content: '\e84b'; } /* '' */
.ic-ui-collections:before { content: '\e84c'; } /* '' */
.ic-ui-contacts:before { content: '\e84d'; } /* '' */
.ic-ui-crafting:before { content: '\e84e'; } /* '' */
.ic-ui-custom-arena:before { content: '\e84f'; } /* '' */
.ic-ui-dye:before { content: '\e850'; } /* '' */
.ic-ui-exit:before { content: '\e851'; } /* '' */
.ic-ui-exit-desktop:before { content: '\e852'; } /* '' */
.ic-ui-friends:before { content: '\e853'; } /* '' */
.ic-ui-friends-blocked:before { content: '\e854'; } /* '' */
.ic-ui-friends-fans:before { content: '\e855'; } /* '' */
.ic-ui-friends-search:before { content: '\e856'; } /* '' */
.ic-ui-gear:before { content: '\e857'; } /* '' */
.ic-ui-golds:before { content: '\e858'; } /* '' */
.ic-ui-graphics:before { content: '\e859'; } /* '' */
.ic-ui-help:before { content: '\e85a'; } /* '' */
.ic-ui-hero:before { content: '\e85b'; } /* '' */
.ic-ui-key:before { content: '\e85c'; } /* '' */
.ic-ui-list:before { content: '\e85d'; } /* '' */
.ic-ui-logout:before { content: '\e85e'; } /* '' */
.ic-ui-magnifier:before { content: '\e85f'; } /* '' */
.ic-ui-mail:before { content: '\e860'; } /* '' */
.ic-ui-masteries:before { content: '\e861'; } /* '' */
.ic-ui-minipets:before { content: '\e862'; } /* '' */
.ic-ui-mouse:before { content: '\e863'; } /* '' */
.ic-ui-options:before { content: '\e864'; } /* '' */
.ic-ui-pip:before { content: '\e865'; } /* '' */
.ic-ui-pip-under-1:before { content: '\e866'; } /* '' */
.ic-ui-pip-under-2:before { content: '\e867'; } /* '' */
.ic-ui-pip-under-3:before { content: '\e868'; } /* '' */
.ic-ui-pip-under-4:before { content: '\e869'; } /* '' */
.ic-ui-pip-under-5:before { content: '\e86a'; } /* '' */
.ic-ui-pip-under-6:before { content: '\e86b'; } /* '' */
.ic-ui-pip-under-7:before { content: '\e86c'; } /* '' */
.ic-ui-pip-under-8:before { content: '\e86d'; } /* '' */
.ic-ui-pip-under-9:before { content: '\e86e'; } /* '' */
.ic-ui-pvp-chest:before { content: '\e86f'; } /* '' */
.ic-ui-pvp-tracks:before { content: '\e870'; } /* '' */
.ic-ui-shield:before { content: '\e871'; } /* '' */
.ic-ui-sound:before { content: '\e872'; } /* '' */
.ic-ui-story:before { content: '\e873'; } /* '' */
.ic-ui-swap:before { content: '\e874'; } /* '' */
.ic-ui-swords:before { content: '\e875'; } /* '' */
.ic-ui-traits:before { content: '\e876'; } /* '' */
.ic-ui-wallet:before { content: '\e877'; } /* '' */
.ic-ui-wrench:before { content: '\e878'; } /* '' */
.ic-weapon-axe:before { content: '\e879'; } /* '' */
.ic-weapon-dagger:before { content: '\e87a'; } /* '' */
.ic-weapon-focus:before { content: '\e87b'; } /* '' */
.ic-weapon-greatsword:before { content: '\e87c'; } /* '' */
.ic-weapon-hammer:before { content: '\e87d'; } /* '' */
.ic-weapon-harpoon:before { content: '\e87e'; } /* '' */
.ic-weapon-longbow:before { content: '\e87f'; } /* '' */
.ic-weapon-mace:before { content: '\e880'; } /* '' */
.ic-weapon-pistol:before { content: '\e881'; } /* '' */
.ic-weapon-rifle:before { content: '\e882'; } /* '' */
.ic-weapon-scepter:before { content: '\e883'; } /* '' */
.ic-weapon-shield:before { content: '\e884'; } /* '' */
.ic-weapon-shortbow:before { content: '\e885'; } /* '' */
.ic-weapon-speargun:before { content: '\e886'; } /* '' */
.ic-weapon-staff:before { content: '\e887'; } /* '' */
.ic-weapon-sword:before { content: '\e888'; } /* '' */
.ic-weapon-torch:before { content: '\e889'; } /* '' */
.ic-weapon-trident:before { content: '\e88a'; } /* '' */
.ic-weapon-warhorn:before { content: '\e88b'; } /* '' */
.ic-ui-finisher:before { content: '\e88c'; } /* '' */
.ic-ui-title:before { content: '\e88d'; } /* '' */
.ic-ui-mastery:before { content: '\e88e'; } /* '' */
.ic-gathering-foraging:before { content: '\e88f'; } /* '' */
.ic-gathering-logging:before { content: '\e890'; } /* '' */
.ic-gathering-mining:before { content: '\e891'; } /* '' */
.ic-ui-commander:before { content: '\e892'; } /* '' */
.ic-ui-guild-members:before { content: '\e893'; } /* '' */
.ic-ui-guild-shield:before { content: '\e894'; } /* '' */
.ic-ui-guild-upgrades:before { content: '\e895'; } /* '' */
.ic-ui-guild-treasury:before { content: '\e896'; } /* '' */
.ic-ui-home:before { content: '\e897'; } /* '' */
.ic-ui-home-cat:before { content: '\e898'; } /* '' */
.ic-ui-home-node:before { content: '\e899'; } /* '' */
.ic-ui-waypoint:before { content: '\e89a'; } /* '' */
.ic-ui-dungeon:before { content: '\e89b'; } /* '' */
.ic-ui-glider:before { content: '\e89c'; } /* '' */