
{% import "AppBundle::macro.html.twig" as macro %}

{% set cats = account.getHomeCats() %}
{% set nodes = account.getHomeNodes() %}

{% spaceless %}

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="ic-ui-home-cat"></i> {{ 'global.unlocked_cats'|trans }}
                </div>
                <div class="panel-body">
                    
                    <table class="table table-hover table-condensed">
                        <tbody>
                            {% for cat in cats %}
                                <tr>
                                    <td>
                                        {% if cat.isUnlocked() %}
                                            <i class="glyphicon glyphicon-ok text-success"></i>&nbsp;
                                        {% else %}
                                            <i class="glyphicon glyphicon-remove text-muted"></i>&nbsp;
                                        {% endif %}
                                        {{ cat.getHint()|idtoname }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-xs-6 raid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="ic-ui-home-node"></i> {{ 'global.unlocked_nodes'|trans }}
                </div>
                <div class="panel-body">
                    
                    <table class="table table-hover table-condensed">
                        <tbody>
                            {% for node in nodes %}
                                <tr>
                                    <td>
                                        {% if node.isUnlocked() %}
                                            <i class="glyphicon glyphicon-ok text-success"></i>&nbsp;
                                        {% else %}
                                            <i class="glyphicon glyphicon-remove text-muted"></i>&nbsp;
                                        {% endif %}
                                        {{ node.getId()|idtoname }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        
                </div>
            </div>
        </div>
    </div>


{% endspaceless %}
