{% if lang == 'fr' %}

    <div class="alert alert-warning">
        <p>
            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Imposible de récupérer les données.</b> 
        </p>
        <p>
            La clé d'application fournie n'a pas la permission &quot;<b>{{ permission }}</b>&quot;.
        </p>
    </div>

{% else %}

    <div class="alert alert-warning">
        <p>
            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Imposible to request data.</b> 
        </p>
        <p>
            The api key used has not the &quot;<b>{{ permission }}</b>&quot; permission.
        </p>
    </div>

{% endif %}