
<div class="alert alert-warning">
    <p>
        <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Imposible to request data.</b> 
    </p>
    <p>
        The access token used has not the &quot;<b>{{ permission }}</b>&quot; permission.
    </p>
</div>
