{% extends "base.twig" %}

{% block content %}
	<div id="access-token-form">
		{% if token_error %}
			{% include 'token-error.twig' %}
		{% endif %}

		<div class="form-group">
			<label for="auth-pwd">Access Token</label>
			<input type="text" class="form-control" name="access_token" placeholder="Paste your access token here">
		</div>
		<button type="button" class="btn btn-default">
			Continue <i class="glyphicon glyphicon-arrow-right"></i>
		</button>
	</div>
{% endblock %}
