{% spaceless %}

    <div class="btn-group equipment-tabs" role="toolbar">
        <button type="button" class="btn btn-primary" data-tab="by-character">
            {{ 'global.equipment_by_character'|trans }}
        </button>
        <button type="button" class="btn btn-default" data-tab="by-stuff">
            {{ 'global.equipment_by_stuff'|trans }}
        </button>
    </div>

    <div class="equipment-tab tab-by-character">
        {% include "AppBundle:pages/equipments:content-by-character.html.twig" %}
    </div>

    <div class="equipment-tab tab-by-stuff" style="display: none">
        {% include "AppBundle:pages/equipments:content-by-stuff.html.twig" %}
    </div>

{% endspaceless %}