{% extends "base.twig" %}

{% block content %}
    <div class="page page-trading-post" data-content="ajax" data-src="./content.html">
        <div class="panel panel-default">
            <div class="panel-heading">Trading post sells</div>
            <div class="panel-body">
                <div class="spinner-loader"></div>
            </div>
        </div>
    </div>

{% endblock %}