{% extends "AppBundle::base.html.twig" %}

{% block title %}
    {{ account.name }} &raquo; {{ 'raidplanner'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'raidplanner'|trans }}</h1>

    {% block raidcontent %}
    {% endblock %}

{% endblock %}
