{% extends "base.twig" %}

{% block content %}

    <div class="page-pvp" data-content="ajax" data-src="./content.html">
        <div class="panel panel-default">
            <div class="panel-heading">{{ page_name }}</div>
            <div class="panel-body">
                <div class="spinner-loader"></div> <em>{{ "global.loading"|trans }}</em>
            </div>
        </div>
    </div>

{% endblock %}
