
body {
	padding-bottom: 3em;
}

.text-danger[data-toggle="tooltip"] {
	cursor: default;
}

.tooltip {
	white-space: normal !important;
}

img.craft,
img.profession {
	height: 1.42857em;
	width: 1.42857em;
	vertical-align: middle;
}
img.emblem {
	width: 3em;
	height: 3em;
	margin-right: .5em;
	vertical-align: middle;
}

img.upgrade,
img.infusion {
	height: 2em;
	width: 2em;
	vertical-align: middle;
	margin-right: 4px;
}

img.item {
	height: 3em;
	width: 3em;
	vertical-align: middle;
}

table.table {
	margin: 0;
}
table.table > tbody tr:first-child td {
	border-top: 0;
}

.page-attributes tr td {
	width: 10%;
	white-space: nowrap;
}
.page-attributes tr td:first-child {
	width: auto;
}

td > .AR:before {
	content: ' / ';
	display: inline-block;
	margin: 0 .2em;
}
td > .AR:first-child:before {
	content: '';
	display: none;
	margin: 0;
}

.page-character tr.object td:first-child {
	width: 3.5em;
}
.page-character tr.object td:nth-child(2) {
	width: 10em;
}
.page-character .summary tr td:first-child {
	width: 30%;
}
.page-character .summary table td {
	line-height: 32px;
}
.page-character .summary table td img {
	height: 32px;
	width: 32px;
	margin-right: .1em;
}
.page-character .stats tr td:first-child {
	width: 50%;
}
.page-character .equipment a {
	outline: 0;
}
.page-character .equipment-type {
	display: block;
	color: #999;
}


.page-stuff table th {
	border: 0 !important;
}
.page-stuff table th img {
	margin-right: .4em;
}
.page-stuff table tr.separator td {
	background-color: #ddd !important;
}
.page-stuff table th,
.page-stuff table td {
	padding: 3px 5px !important;
	white-space: nowrap; 
}
.page-stuff table td.type,
.page-stuff table th.type {
	text-align: right;
	background: #eee !important;
}
.page-stuff .object .icons {
	margin-right: .7em;
}
.page-stuff .object {
	margin-top: .2em;
}
.page-stuff .object:first-child {
	margin-top: 0;
}
.page-stuff .object img {
	width: 1.42857em;
	height: 1.42857em;
	margin-right: 3px;
}
.page-stuff .object img.infusion,
.page-stuff .object img.upgrade {
	width: 1em;
	height: 1em;
	margin-right: 1px;
}
.page-stuff thead .profession {
	margin-right: .3em;
}
.page-stuff table {
	table-layout: fixed;
	width: auto !important;
}
.page-stuff.big {
	overflow: auto;
}
.page-stuff.big table {
	margin : 1em auto 2em auto;
}