
body {
    padding-bottom: 5em;
}

.text-danger[data-toggle="tooltip"] {
    cursor: default;
}

.tooltip {
    white-space: normal !important;
}

.gwitemlink {
    cursor: pointer;
}

.dropdown-menu small {
    text-align: right;
    float: right;
    margin-left: 9em;
    color: #aaa;
    font-size: 100%;
}
.dropdown-menu .locked {
    color: #d9534f;
}
.dropdown-menu .locked i {
    margin-right: .5em;
}

/************************************************/

.gold, .silver, .copper {
    padding-right: 18px;
    margin: 0 .2em;
    display: inline-block;
    background-position: right center;
    background-repeat: no-repeat;
}
.gold {
    color: #c9a900;
    background-image: url(./images/coin-gold.png);
}
.silver {
    color: #888;
    background-image: url(./images/coin-silver.png);
}
.copper {
    color: #b1672d;
    background-image: url(./images/coin-copper.png);
}

/************************************************/

img.craft,
img.profession {
    height: 1.42857em;
    width: 1.42857em;
    vertical-align: middle;
}
img.emblem {
    width: 3em;
    height: 3em;
    margin-right: .5em;
    vertical-align: middle;
}

img.upgrade,
img.infusion {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    margin-right: 4px;
}

img.currency {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

img.item {
    height: 3em;
    width: 3em;
    vertical-align: middle;
}

/************************************************/


.page-account td .label {
    margin-right: .5em;
}
.page-account td .rights {
    width: 100%;
    table-layout: fixed;
}
.page-account td .rights th {
    text-decoration: underline;
    padding-bottom: .5em;
}
.page-account td .rights td {
    vertical-align: top;
}
.page-account td .rights .form-group {
    margin-bottom: .5em;
}
.page-account td .rights .checkbox {
    margin: 0;
    padding-right: 1em;
}
.page-account td:nth-child(3),
.page-account td .btn {
    width: 18em;
    margin-top: .3em;
    text-align: left;
}
.page-account td .btn:first-child {
    margin-top: 0;
}
.page-account td .btn i {
    margin-right: .5em;
}
.page-account td.text-owner {
    width: 15%;
}
.page-account hr {
    margin-top: .5em;
    margin-bottom: .5em;
}

/************************************************/

.page-attributes tr td {
    width: 10%;
    white-space: nowrap;
}
.page-attributes tr td:first-child {
    width: auto;
}

/************************************************/

.page-home .faq {
    margin-top: 2em;
    font-size: 16px;
}
.page-home .faq:before {
    content: "";
    display: block;
    height: 4px;
    background: white;
    border-radius: 3px;
    margin-bottom: 2em;
}

/************************************************/

.page-character tr.object td:first-child {
    width: 3.5em;
}
.page-character tr.object td:nth-child(2) {
    width: 10em;
}
.page-character .summary tr td:first-child {
    width: 30%;
}
.page-character .summary table td {
    line-height: 32px;
}
.page-character .summary table td img {
    height: 32px;
    width: 32px;
    margin-right: .1em;
}
.page-character .stats tr td.attr {
    width: 24%;
}
.page-character .equipment a {
    outline: 0;
}
.page-character .equipment-type {
    display: block;
    color: #999;
}
.page-character .stuff {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.page-character .stuff td.separator {
    width: 30px;
}
.page-character .stuff td.block {
    vertical-align: top;
    height: 100%;
}
.page-character .stuff td.block .panel-body {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}
.page-character .stuff .panel {
    margin-bottom: 0;
    height: 100%;
    box-sizing: content-box;
}
.page-character .stuff tr:first-child .panel {
    border-bottom: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.page-character .stuff tr:last-child .panel,
.page-character .stuff tr:last-child .panel-heading {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.page-character .slots .bag {
    background: #2c1b0b;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.page-character .nav {
    margin-bottom: 1em;
}
.page-character .nav a {
    outline: 0 !important;
}
.page-character .gw2skillslink {
    margin-left: 2em;
}
.gw2skillslink i {
    margin-right: .5em;
}

/************************************************/

.page-equipments table th {
    border: 0 !important;
}
.page-equipments table th img {
    margin-right: .4em;
}
.page-equipments table tr.separator td {
    background-color: #ddd !important;
}
.page-equipments table th,
.page-equipments table td {
    padding: 3px 5px !important;
    white-space: nowrap; 
}
.page-equipments table td.type,
.page-equipments table th.type {
    text-align: right;
    background: #eee !important;
}
.page-equipments .object .icons {
    margin-right: .7em;
}
.page-equipments .object {
    margin-top: .2em;
}
.page-equipments .object:first-child {
    margin-top: 0;
}
.page-equipments .object img {
    width: 1.42857em;
    height: 1.42857em;
    margin-right: 3px;
}
.page-equipments .object img.infusion,
.page-equipments .object img.upgrade {
    width: 1em;
    height: 1em;
    margin-right: 1px;
}
.page-equipments thead .profession {
    margin-right: .3em;
}
.page-equipments table {
    table-layout: fixed;
    width: auto !important;
}
.page-equipments.big {
    overflow: auto;
}
.page-equipments.big table {
    margin : 1em auto 2em auto;
}
.page-equipments td .cell {
    max-height: 15em;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 20px;
    padding-bottom: 1px;
}

/************************************************/

.text-owner:before {
    content: "\2605";
    color: red;
    margin-right: .5em;
    display: inline-block;
    vertical-align: top;
}
#owner-legend {
    display: none;
    width: 60em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#owner-legend em {
    color: red;
}

/************************************************/

.slots .slot {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    position: relative;
    border: 1px solid #2c1b0b;
    background: #55452f;
    box-shadow: 0 0 0 1px #5c4f3f inset, 0 0 15px #3a2d1d inset;
    padding: 1px;
}
.slots .slot img {
    width: 100%;
    height: 100%;
}
.slots .slot .count {
    position: absolute;
    color: white;
    right: 5px;
    bottom: 0px;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}
.slots .slot.empty img {
    opacity: .2;
}
.slots .slot.empty img.nothing {
    opacity: 1;
}
.slots .slot.empty .count {
    display: none;
}

/************************************************/

.rarity-Junk       { color: #aaaaaa; }
.rarity-Basic      { color: #000000; }
.rarity-Fine       { color: #1a9306; }
.rarity-Masterwork { color: #62A4DA; }
.rarity-Rare       { color: #fcd00b; }
.rarity-Exotic     { color: #ffa405; }
.rarity-Ascended   { color: #fb3e8d; }
.rarity-Legendary  { color: #4C139D; }

img.rarity-Junk       { border: 1px solid #aaaaaa; }
img.rarity-Basic      { border: 1px solid #000000; }
img.rarity-Fine       { border: 1px solid #1a9306; }
img.rarity-Masterwork { border: 1px solid #62A4DA; }
img.rarity-Rare       { border: 1px solid #fcd00b; }
img.rarity-Exotic     { border: 1px solid #ffa405; }
img.rarity-Ascended   { border: 1px solid #fb3e8d; }
img.rarity-Legendary  { border: 1px solid #4C139D; }

.slots .slot.rarity-Junk       { box-shadow: 0 0 0 1px #aaaaaa inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Basic      { box-shadow: 0 0 0 1px #ffffff inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Fine       { box-shadow: 0 0 0 1px #1a9306 inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Masterwork { box-shadow: 0 0 0 1px #62A4DA inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Rare       { box-shadow: 0 0 0 1px #fcd00b inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Exotic     { box-shadow: 0 0 0 1px #ffa405 inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Ascended   { box-shadow: 0 0 0 1px #fb3e8d inset, 0 0 15px #3a2d1d inset; }
.slots .slot.rarity-Legendary  { box-shadow: 0 0 0 1px #7744bb inset, 0 0 15px #3a2d1d inset; }

.gwitem .rarity-Basic      { color: #ffffff; }
.gwitem .rarity-Legendary  { color: #7744bb; }

/************************************************/

.page-bank .bank.slots {
    margin: 1em 0;
}

/************************************************/

.page-wallet .column-name {
    line-height: 2em;
    text-align: right;
    width: 60%;
}
.page-wallet .column-icon {
    text-align: center;
    width: 4em;
}
.page-wallet .column-quantity {
    line-height: 2em;
}

/************************************************/

#footer {
    border-top: 1px solid #ddd;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top : 2em;
    font-size: 80%;
}
#footer ul{
    padding-left: 0;
}
#footer ul li {
    margin-bottom: 1em;
    list-style-type: none;
}
#footer ul li i,
#footer ul li img {
    margin-right: .3em;
    font-size: 2em;
    height: 1em;
    vertical-align: middle;
    color:#333333;
}
#footer .logo {
    text-align: center;
}
#footer .logo a {
    margin: .5em 2.5em;
}
#footer .logo a:first-child {
    margin-left: 0;
}
#footer .logo a:last-child {
    margin-right: 0;
}

/************************************************/

#container {
    min-height : 600px;
}

/************************************************/

.page-dyes table {
    table-layout: fixed;
}
.page-dyes table td img {
    height: 2em;
    width: 2em;
}
.page-dyes table td .icon {
    height: 2em;
    width: 2em;
    display: inline-block;
    margin-right: .5em;
}
.page-dyes table td span {
    line-height: 2em;
}
.page-dyes table tr th:last-child,
.page-dyes table tr td:last-child {
    width: 6em;
}
.page-dyes .dye {
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.4);
}
.page-dyes .unlocked i {
    color: #ddd;
}
.page-dyes .locked,
.page-dyes .locked td:first-child span {
    color: #a00 !important;
}
.page-dyes .locked .icon {
    background: rgba(170, 0, 0, .5);
}
.page-dyes .locked img {
    opacity: .5;
}
.page-dyes td .glyphicon {
    margin-right: .5em;
}

/************************************************/

.page-trading-post td span {
    line-height: 3em;
}
.page-trading-post td img {
    height: 3em;
}
.page-trading-post .column-amount {
    text-align: right;
    width: 20%;
}
.page-trading-post .column-icom {
    width: 3em;
    height: 3em;
}
.page-trading-post .column-date,
.page-trading-post .column-quantity {
    text-align: right;
    width: 10%;
}

/************************************************/

.page-golds img {
    margin-right: .5em;
}

.page-golds .column-amount {
    text-align: right;
    width: 30%;
}

/************************************************/

.page-builds td:first-child {
    width: 20%;
}

/************************************************/

.page-pvp .rank {
    overflow: visible;
    margin-bottom: 1em;
}
.page-pvp .rank img {
    height: 100px;
    margin-right: 1em;
}
.page-pvp .rank div span {
    display: block;
    text-align: center;
    font-size: 150%;
}
.page-pvp .rank .level {
    font-size: 300%;
    font-weight: bold;
}
.page-pvp td.column-profession {
    width: 10em;
    text-align: right;
}
.page-pvp td.column-profession img {
    margin-left: .5em;
}
.page-pvp td.column-winrate {
    width: 20%;
    text-align: right;
}
.page-pvp td.column-scorebar {
    width: 20%;
}
.page-pvp .progress {
    margin-bottom: 0;
}
.page-pvp .progress-bar {
    text-align: left;
}
.page-pvp .global td:first-child {
    width: 65%;
}
.page-pvp .progress {
    position: relative;
}
.page-pvp .progress-bar {
    overflow: hidden;
    position: relative;
}
.page-pvp .progress span {
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 12px;
    padding-left: 1em;
    margin-top: 0;
}
.page-pvp .progress-bar span {
    color: white !important;
    top: 0;
}
.page-pvp .progress-scores {
    background: #d9534f;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
.page-pvp .progress-scores span {
    color: #5bc0de;
}
.page-pvp .progress-warning span {
    color: #f0ad4e;
}
.page-pvp .progress-success span {
    color: #5cb85c;
}
.page-pvp .red {
    color: #d9534f;
}
.page-pvp .blue {
    color: #32a7c9;
}
.page-pvp .glyphicon-ok {
    color: #5cb85c;
    margin-right: .5em;
}
.page-pvp .glyphicon-remove {
    color: #d9534f;
    margin-right: .5em;
}

/************************************************/

.page-builds .build .spe,
.page-builds .build .trait {
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    margin: 3px 1px;
}
.page-builds .build img {
    width: 100%;
    height: 100%;
}
.page-builds .gw2skillslink {
    display: inline-block;
    margin-top: .8em;
}