
#gwitemdetail {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 80%;
    line-height: 1.2;
}

#gwitemdetail {
    background: #131717;
    color: white;
    box-shadow: 0 0 5px #222;
}

#gwitemdetail > .gwitem {
    position: relative;
    width: 400px;
}

#gwitemdetail > .gwitem > div {
    margin: .5em;
}

#gwitemdetail .gwicon {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    margin-right: 1em;
    vertical-align: middle;
}

#gwitemdetail .gwicon img {
    width: 100%;
    height: 100%;
}

#gwitemdetail .gwname {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

#gwitemdetail .gwitemheader {
    overflow: visible;
}

#gwitemdetail .gwstats {
    color: #02f102;
}

#gwitemdetail .gwstats.food {
    padding-left: 44px;
    background: url(/assets/images/food.png) no-repeat 0 0;
}

#gwitemdetail .gwstats.utility {
    padding-left: 44px;
    background: url(/assets/images/utility.png) no-repeat 0 0;
}

#gwitemdetail .gwupgrade {
    color: #5599ff;
}

#gwitemdetail .gwupgrade img {
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
}

#gwitemdetail .gwlink .glyphicon {
    margin-right: .5em;
}

#gwitemdetail .gwvendorcount {
    float: right;
}

#gwitemdetail .gwclickinfo {
    text-align: right;
    color: #888;
    font-style: italic;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0 !important;
}

#gwitemdetail .gwitemerror {
    padding: 1em 2em;
    font-size: 125%;
    color: red;
}