{% extends "base-menu.twig" %}

{% block content %}

	<div class="page-collectibles" data-content="ajax" data-src="./content.html">
		<div class="panel panel-default">
			<div class="panel-heading">Collectibles</div>
			<div class="panel-body">
				<div class="spinner-loader"></div>
			</div>
		</div>
	</div>

{% endblock %}
