
{% import "macro.twig" as macro %}

{% set columns = account.bankvaults|columns(2) %}

{% for vaults in columns %}
    <div class="row">
        {% for vault in vaults %}
            <div class="col-xs-6">
                {% if vault %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right">
                                {{ macro.amount(vault.price) }}
                            </div>
                            Bank {{ vault.id }}
                        </div>
                        <div class="panel-body slots">
                            {% for item in vault.items %}
                                {{ macro.inventory_slot(item) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}